body{
    margin: 0;
}
.nav-bar{
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search-container{
    display: flex;
    align-items: center;    
    justify-content: center;
    width: 100%;
}
.right-menu{
    margin-left: auto;
}
main{
    display: flex;
    flex-direction: row;
}

.main-video{
    height: 700px;
    width: 60%;
    gap: 16px;
    margin: 75px 84px;
}

.second-videos{
    height: 700px;
    width: 40%;
    margin: 75px 16px;
}